body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: #ffe6eb;
}

h1 {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.yes-button {
  background-color: #ff4d6d;
  color: white;
}

.no-button {
  background-color: #ccc;
}